@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/*------------------------------------*\
  #BASE
\*------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 300;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/
.navbar {
  display: flex;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  height: 70px;
  width: 100%;
  padding: 0 30px;
}

.navbar .logo {
  font-weight: 400;
}

.navbar a {
  color: #fff;
  margin: 0 5px;
  padding: 10 20px;
}

.navbar a:hover {
  border-bottom: 2px solid #28a745;
}

.navbar ul {
  display: flex;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.hero {
  background: url('../img/home/showcase.jpg') no-repeat center center/cover;
  color: #fff;
  position: relative;
  height: 100vh;
}
