/*------------------------------------*\
  #TEXT-COLORS
\*------------------------------------*/
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/
.btn {
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background-color: #28a745;
  color: #fff;
}

.btn-secondary,
.bg-secondary {
  background-color: #0284d0;
  color: #fff;
}

.btn-dark,
.bg-dark {
  background-color: #333;
  color: #fff;
}

.btn-light,
.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/*------------------------------------*\
  #FLEX-ITEM
\*------------------------------------*/
.flex-items {
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.flex-items > div {
  padding: 20px;
}

/*------------------------------------*\
  #FLEX-COLUMNS
\*------------------------------------*/
.flex-columns img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: 100%;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

/*------------------------------------*\
  #SECTION-HEADER
\*------------------------------------*/
.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.section-header h2 {
  margin: 20px 0;
  font-size: 40px;
}

.section-padding {
  padding: 20px 20px 40px;
}

/*------------------------------------*\
  #FLEX-GRID
\*------------------------------------*/
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
